<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> <%= qna.Question %> </h3>
    <% let k = qna.Answer.length %> 
    <% for ( let ans = k-1 ; ans >= 0 ; ans--) {%> 
        <p><%= qna.Answer[ans] %> </p>
    <% } %> 
    <form <% let id = qna._id %> action="/comment/<%= id %>?_method=PUT" method = "post">
        <textarea name="answer" id="" cols="30" rows="10"></textarea>
        <button>Comment</button>
    </form>
    <a href="/community"> go back</a>
</body>
</html>